<header class="container mt-3">
    <h1 class="text-start"><%= title %></h1>
</header>
<main class="container mt-3">
    <div class="row">
        <div class="col">
            <p>This project is a user management system designed and developed using Node.js, Express, and MongoDB. It allows users to perform CRUD (Create, Read, Update, Delete) operations on a database of customers.</p>
            <p>The main features of the project include:</p>
            <ul>
                <li>User authentication and authorization</li>
                <li>Customer data management</li>
                <li>Integration with MongoDB for database operations</li>
            </ul>
            <p>This project was developed as part of a learning exercise or for a specific purpose. It demonstrates various concepts and techniques in web development using Node.js and related technologies.</p>
            <p>For more information or to contribute to the project, you can visit the GitHub repository: <a href="https://github.com/SarathKalarikkal/Dashboard_Backend">Project Repository</a></p>
        </div>
    </div>
</main>
<footer class="container mt-3">
    <p class="text-center">&copy; <%= new Date().getFullYear() %> <%= title %>. All rights reserved.</p>
</footer>

